Flask==2.3.3
Flask-CORS==4.0.0
torch==2.0.1
Pillow==10.0.0
requests==2.31.0
geocoder==1.38.1
google-cloud-aiplatform==1.38.1
google-auth==2.23.4
google-auth-oauthlib==1.1.0
google-auth-httplib2==0.1.1
transformers==4.35.2
accelerate==0.24.1
web: gunicorn app:app